.maan-blog-section {
  padding: 120px 0 0;
  overflow: hidden;

  .maan-blog-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 55, 96, 0.08);
    border-radius: 25px;
    padding: 10px 10px 30px 10px;
    margin: 13px;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    // &:hover {
    //   box-shadow: 0px 0px 50px rgba(0, 55, 96, 0.1);
    //   transform: translateY(-10px);
    //   .blog-image {
    //     transform: scale(1.1);
    //   }
    // }
  
    .maan-blog-image {
      width: 270px;
      height: 180px;
      border-radius: 25px;
      margin: 0 0 18px;
      overflow: hidden;

      img {
        transition: all 500ms linear 0s;

        // &:hover {
        //   transform: scale(1.1);
        // }
      }
    }
   
    .maan-blog-item-wrapper {
      margin-top: 1rem;
      margin-left: 0.5rem;

      h4 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #0C1928;
        margin-bottom: 15px;
      }

      .maan-blog-button {

        a {
          font-family: 'Jost', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #0C1928;
          opacity: 0.5;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            color: #00A3FF;
            i {
              &:hover {
                color: #00A3FF;
                margin-left: 10px;
              }
            }
          }

          i {
            margin-left: 6px;
           
          }
        }
      }
    }
    &:hover,
  &:focus {
    // box-shadow: 0px 0px 50px rgba(0, 55, 96, 0.1);
    transform: translateY(-10px);

    .maan-blog-image {
      img {
        transform: scale3D(1.2, 1.2, 1);
      }
    }

    .maan-blog-item-wrapper {
      h4 {
        color: #00A3FF;
      }
    }

  }
  }

}

// @-webkit-keyframes zoomeffect{
//   0%{
//     background-position:center;
//     transform:scale(1,1);
//   }
//   50%{
//     background-position:center;
//     transform:scale(1,2);
//   }
//   100%{
//     background-position:center;
//     transform:scale(1,1);
//   }
// }
// @keyframes zoomeffect{
//   0%{
//     background-position:center;
//     transform:scale(1,1);
//   }
//   50%{
//     background-position:center;
//     transform:scale(1,2);
//   }
//   100%{
//     background-position:center;
//     transform:scale(1,1);
//   }
// }