
.maan-section-title {
margin-bottom: 50px;
}
.maan-section-title h3 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #0C1928;
    opacity: 0.9;
    align-items: center;
    letter-spacing: 0px;
    margin-top: -8px;
}
.maan-section-title p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0C1928;
    opacity: 0.5;
    margin-bottom: 0;
}
