 .swiper-pagination {
     position: unset;
     text-align: center !important;
     padding: 20px 0 0;
 }

 .swiper-pagination-bullet {
     width: 10px;
     height: 10px;
     display: inline-block;
     border-radius: 50%;
     background: rgba(0, 163, 255, 1);
     opacity: 0.2;
     margin: 0 4px;
 }

 .swiper-pagination-bullet.swiper-pagination-bullet-active {
     background: #00A3FF;
     opacity: 1;
 }