
$headingFontFamily: 'Roboto Condensed', sans-serif;
$headingFontSize : 40px;

// Global Color

// Colors ---------------
$black: var(--clr-black) !default;
$white: var(--clr-white) !default;
$blue: var(--clr-blue);
$light-gree: var(--clr-light-green);
$sunshade: var(--clr-sunshade);
